<% content_for :title, "Editing secret" %>

<h1>Editing secret</h1>

<%= render "form", secret: @secret %>

<br>

<div>
  <%= link_to "Show this secret", @secret %> |
  <%= link_to "Back to secrets", secrets_path %>
</div>
