<p style="color: green"><%= notice %></p>

<% content_for :title, "Secrets" %>

<h1>Secrets</h1>

<div id="secrets">
  <% @secrets.each do |secret| %>
    <%= render secret %>
    <p>
      <%= link_to "Show this secret", secret %>
    </p>
  <% end %>
</div>

<%= link_to "New secret", new_secret_path %>
